html {
  background: #333;
  height: 100%;
}

body {
  color: #ccc;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Comfortaa", 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}
