.DeviceList {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: scroll;
}

.DevicePreview {
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  height: 100%;
  min-width: 300px;
  flex: 100 0 auto; /* grow is large to make AddDevice small */
}

.device-toolbar {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  height: 30px;
  padding: 8px;
}

.DeviceColorIndicator {
  border-radius: 100%;
  border: none;
  flex: 0 0 auto;
  height: 14px;
  width: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.device-name {
  font-size: 14px;
  flex: 1 1 auto;
}

.AddDeviceButton {
  border: 2px solid var(--border-color);
  width: 40px;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.AddDeviceButton:hover {
  background-color: #555;
}

.add-device-icon {
  width: 100%;
  max-width: 120px;
  fill: #fff;
  opacity: 40%;
}