
.SplitView {
    display: flex;
    height: 100%;
    width: 100%;
}

.SplitView.row-layout {
    flex-direction: row;
}

.SplitView.col-layout {
    flex-direction: column;
}

.top-container {
    flex: 1 1 auto;
    min-height: 30px;
    min-width: 30px;
}

.middle-container {
    flex: 0 0 auto;
}

.bottom-container {
    flex: 0 0 auto;
}

.GrabBar {
    background-color: var(--border-color);
    flex: 0 0 auto;
}
.col-layout .GrabBar {
    width: 100%;
    height: 4px;
    cursor: ns-resize;
}
.row-layout .GrabBar {
    height: 100%;
    width: 4px;
    cursor: ew-resize;
}