
.SplitView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top-container {
    flex: 1 1 auto;
    min-height: 30px;
}

.middle-container {
    flex: 0 0 auto;
}

.bottom-container {
    flex: 0 0 auto;
}

.GrabBar {
    width: 100%;
    height: 4px;
    background-color: var(--border-color);
    cursor: ns-resize;
    flex: 0 0 auto;
  }