
.SplitView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top-container {
    flex: 1 1 auto;
    min-height: 60px;
}

.middle-container {
    flex: 0 0 auto;
    height: 60px;
}

.bottom-container {
    flex: 0 1 auto;
    min-height: 200px;
}

.GrabBar {
    width: 100%;
    height: 4px;
    background-color: var(--border-color);
    cursor: ns-resize;
  }