@import '@fontsource/fira-mono';

:root {
  --border-radius-input: 12px;
  --color-bg-main: #333;
	--color-bg-preview: #FFF;
  --color-border: #555;
	--color-text: #CCC;
  --color-form-bg: #222;
  --color-form-bg-hover: #444;
  --color-form-text: #aaa;
  --color-form-text-hover: #eee;
  --font-body: 'Comfortaa', 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  color: var(--color-text);
	font-family: var(--font-body);
}

h1 {
  font-size: 26px;
  font-weight: 400;
}

svg {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
	height: 100vh;
  width: 100vw;
  background: var(--color-bg-main);
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
  background: var(--color-form-bg);
  border: 1px solid var(--color-form-bg-hover);;
  border-radius: var(--border-radius-input);
  color: var(--color-form-text);
  cursor: pointer;
  font-size: inherit;
	font-family: inherit;
  padding: 8px 12px;
}
input:enabled:hover,
button:enabled:hover {
  background: var(--color-form-bg-hover);
  color: var(--color-form-text-hover);
}
input:disabled,
button:disabled {
  cursor: inherit;
  opacity: 50%;
}
input:focus,
button:focus:not(:focus-visible) {
	outline: none;
}

input[type="text"],
input[type="number"] {
  cursor: text;
}

input[type="checkbox"] {
  appearance: none;
  background: var(--color-form-bg, #222);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  cursor: pointer;
  display: grid;
  height: 18px;
  margin: 0;
  padding: 0;
  place-content: center;
  width: 18px;
}
input[type="checkbox"]::before {
  content: "";
  background: var(--color-form-text);
  border-radius: 2px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  height: 8px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  width: 8px;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:hover {
  background-color: var(--color-form-bg-hover, #444);
}
input[type="checkbox"]:hover:checked::before {
  background-color: var(--color-form-text-hover, #444);
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
