@import '@fontsource/fira-mono';

:root {
  --color-bg-main: #333;
	--color-bg-preview: #FFF;
  --color-border: #555;
  --color-error: #A22;
	--color-text: #CCC;
  --color-input-bg: #222;
  --color-input-bg-hover: #444;
  --color-input-bg-active: #555;
  --color-input-text: #aaa;
  --color-input-text-hover: #eee;
  --color-input-text-active: #fff;
  --corner-input: 12px;
  --corner-input-single: 12px;
  --font-size-label: 12px;
  --font-body: 'Comfortaa', 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --grid-gap: 12px 8px;
  --input-height: 36px;
  color: var(--color-text);
	font-family: var(--font-body);
}

h1 {
  font-size: 26px;
  font-weight: 400;
}

svg {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
	height: 100vh;
  width: 100vw;
  background: var(--color-bg-main);
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
  background: var(--color-input-bg);
  border: 1px solid var(--color-input-bg-hover);
  border-radius: var(--corner-input);
  box-sizing: border-box;
  color: var(--color-input-text);
  font-size: inherit;
	font-family: inherit;
  height: var(--input-height, 36px);
  padding: 8px 12px;
}
input:enabled:hover,
button:enabled:hover {
  background: var(--color-input-bg-hover);
  color: var(--color-input-text-hover);
}
input:enabled:active,
button:enabled:active {
  background: var(--color-input-bg-active);
  color: var(--color-input-text-active);
}
input:disabled,
button:disabled {
  cursor: inherit;
  opacity: 50%;
  pointer-events: none;
}
input:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	outline: none;
}

input {
  cursor: text;
}
button,
input[type="checkbox"],
input[type="radio"],
input[type="buttons"] {
  cursor: pointer;
}

input[type="number"] {
  font-family: var(--font-mono);
}

input[type="checkbox"] {
  appearance: none;
  border-radius: 6px;
  display: grid;
  height: 18px;
  margin: 0;
  padding: 0;
  place-content: center;
  width: 18px;
}
input[type="checkbox"]::before {
  content: "";
  background: currentColor;
  border-radius: 2px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  height: 8px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  width: 8px;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
